.lscroll::-webkit-scrollbar {width: 3px;}
.lscroll::-webkit-scrollbar-track {background: #f2f2f2; }
.lscroll::-webkit-scrollbar-thumb {background: #ececec; }
.lscroll::-webkit-scrollbar-thumb:hover {background: #cfcfcf;}


.abar
{
    position: sticky;
    top: 0;
    user-select: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 0.8rem #e1e1e1;
}
.tbar
{
    z-index: 2000;
    display: flex;
    justify-content: space-between;
}
.tbar-content
{
    padding: 0.2rem;
    display: flex;
    align-items: center;
}
.tbar-content>.ic
{
    padding: 0.5rem 0.6rem;
}
.tbar-content>*
{
    padding: 0.25rem 0.5rem;
}
.tbar-content>.ic,.tbar-content>*
{
    text-decoration: none;
    color: #000000;
    border-radius: 0.2rem;
    margin: 0 0.2rem 0 0.2rem;
    border: none;
    outline: none;
    background-color: #FFF;
}
.tbar-content>.ic:hover,.tbar-content>*:hover
{
    background-color: #f1f1f1;
}
.tbar-content>.ic:focus,.tbar-content>*:focus,.tbar-content>.ic:active,.tbar-content>*:active
{
    background-color: #e1e1e1;
    border: none;
    outline: none;
}


.nbar
{
    z-index: 2001;
    position: fixed;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    min-width: 40%;
    max-width: 70%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}
.nbar-links>a
{
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #f1f1f1;
}
.nbar-links>a:hover
{
    background-color: #f1f1f1;
}
.nbar-links>a:focus
{
    background-color: #e1e1e1;
}

.overlay
{
    z-index: 1999;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    display: none;
}

@media (min-width: 991.98px)
{
    .nbar
    {
        min-width: 20%;
        max-width: 70%;
    }
}

.r-0
{
    border-radius: 0;
}
.label
{
    margin: 1rem 0 0.2rem 0;
    text-align: center;
    font-weight: bold;
    padding: 0 1rem;
}
.label>b
{
    display: block;
    color: #FFFFFF;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: dodgerblue;
    box-shadow: 0 0 0.5rem #e1e1e1;
    
}

@media (max-width: 576px) 
{ 
    .label
    {
        padding: 0 1rem;
    }
    .label>b
    {
        display: block;
    }
}

.posts
{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

.post
{
    color: #000000;
    display: block;
    text-decoration: none;
    box-shadow: 0 0 0.8rem #e1e1e1;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #f1f1f1;
    margin-bottom: 0.8rem;
}
.post:hover
{
    color: #07001a;
    text-decoration: none;
    border: 1px solid #e1e1e1;
}
.post-date
{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #333333;
}

.no-select
{
    user-select: none;
}


.paging
{
    margin: 5rem 0 ;
    display: flex;
    justify-content: center;
}